button {
   border-top: 1px solid #96d1f8;
   background: #780707;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#780707));
   background: -webkit-linear-gradient(top, #ff0000, #780707);
   background: -moz-linear-gradient(top, #ff0000, #780707);
   background: -ms-linear-gradient(top, #ff0000, #780707);
   background: -o-linear-gradient(top, #ff0000, #780707);
   padding: 13px 26px;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 200px;
   }
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }