* {
	box-sizing: border-box;
}



#myAvatar{
	display: block;
	margin: auto;
	}

p{
	font-family: Verdana;
	font-size: 19px;
	color: #4F4F4F;
		
	}
img {
	max-width: 100%;
}

p#scroll{
	font-size: 10px;
	color: #7F7F7F;
}	
#firstPage {
	width: 500px;
	height: 300px;
	border: 1px solid black;
	border-radius: 25px;
	background: white;
	text-align:center;
	margin: auto;
	position:relative;
	top: 50px;
	
}

#eli{
	font-family:Verdana;
	size: 40px;
	color: #303030;
}