* {
    box-sizing: border-box;
}

.leftDiv{
	position: absolute;
	height:100%;
	max-width:50%;
	background: #FF1CAE;
}

.rightDiv{
	position:absolute;
	margin-left:50%;
	border-left:1px solid black;
}

